@CHARSET "UTF-8";

/*GENERALES*/


/* ==========================================================================
	Paleta de colores
	

   ========================================================================== */

body{

	}
.container{
	background-color: #f7f7f7;
 }

.logo-patrocinador{
	max-width: 50px;
}



/*Estilos para Dashboard*/
.card-counter i{
	font-size: 5em;
	opacity: 0.2;
}

.count-numbers {
	font-size: 32px;
	position: absolute;
	right: 35px;
	top: 20px;
	display: block;
}

.count-name{
	position: absolute;
	right: 35px;
	top: 65px;
	text-transform: capitalize;
	opacity: 0.5;
	display: block;
	font-size: 18px;
}

.custom-select{

	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
	border-radius: 0;
}

.custom-select:focus{
	box-shadow: none;
}

.label-select{
	position: absolute !important;
}

/* Estilos Menu */

.navbar .list-group .list-group-item a{
	color: #fff;
}

.navbar ul li{
	background-color: #212121;
}

.navbar ul li:hover{
	background-color: #d50000;
}

.fa-icon
{
	margin-right:10px;
}

.sidebar ul li
{
	border-bottom: 1px solid #bdb8d7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-side-menu
{
	position: fixed;
	z-index: 1000;
	height: 100%;
	overflow: auto;
}

.sidebar ul li:hover {
	background-color: #7d777717
}

.sidebar ul li:hover a {
	color: #d50000
}

.nav .nav-item a{
	color: #000;
}

.sub-menu {
	list-style: none;
	display: contents;
}

.sub-menu .nav-item a{
	color: #424242;
}

a[data-toggle="collapse"] {
	position: relative
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%)
}