{% extends 'layout.html.twig' %}

{% block title %}Agregar Centro Trabajo{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-6 col-md-offset-1">
            <div class="card">
                <div class="card-header">
                    <h1>Nueva Centro Trabajo</h1>
                </div>
                <div class="card-body">
                    {{ include('ic_categoria/_form.html.twig') }}
                </div>
                <div class="card-footer">
                    <a href="{{ path('procesos_centro') }}">Regresar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
