{% extends 'layout.html.twig' %}

{% block content %}


    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h4>Instruccion de Trabajo: <strong>{{ instruccion_trabajo.title }}</strong></h4>
                </div>
                <div class="card-body">
                    {{ instruccion_trabajo.descripcion | raw }}

                    <div class="card-footer">
                        {% if idescripcion is  empty %}

                            <a href="{{ path('procesos_instructivo_agregar', {'id': instruccion_trabajo.id }) }}"
                               type="button" class="btn btn-primary btn-md" > Agregar Instructivo</a>

                        {% endif %}
                        {% if idescripcion is not empty %}

                            <a href="{{ path('procesos_instructivo_mostrar', {'id': idescripcion.id }) }}"
                               type="button" class="btn btn-primary btn-md" > Ver Instructivo</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}