{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
            <div class="card dashboard-panel">
                <div class="card-body">
                    <h5 class="card-title">Patrocinadores</h5>
                    <div class="content-panel">
                        <div><a class="text-dark" href="/patrocinadores">{{ totalPatrocinadores }}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
            <div class="card dashboard-panel">
                <div class="card-body">
                    <h5 class="card-title">Ingresos Proyectados</h5>
                    <div class="content-panel">
                        {% if montoTotalProyectado %}
                           $ {{ montoTotalProyectado | number_format(2, '.', ',') }}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
            <div class="card dashboard-panel">
                <div class="card-body">
                    <h5 class="card-title">Ingresos Totales</h5>
                    <div class="content-panel">
                        {% if number2 >= number3 %}
                            <div class="text-success">${{ number2 | number_format(2, '.', ',') }}</div>
                        {% else %}
                            <div class="text-danger">${{ number2 | number_format(2, '.', ',') }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card card-list">
                <div class="card-header white d-flex justify-content-between align-items-center py-3">
                    <p class="h5-responsive font-weight-bold mb-0">Últimos Pagos</p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Patrocinador</th>
                            <th scope="col">Tipo de Pago</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Monto($)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><a class="text-dark">Tecate</a></th>
                            <td><span class="badge badge-danger">Parcial</span></td>
                            <td>30/11/20</td>
                            <td class="pt-2 pb-0">{{ 500000 | number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-dark">Carl's Jr</a></th>
                            <td><span class="badge badge-success">Total</span></td>
                            <td>30/11/20</td>
                            <td class="pt-2 pb-0">{{ 125000 | number_format(2, '.', ',') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}