{% extends 'base.html.twig' %}
{% block title %} Categorias Club Tijuana{% endblock %}
{% block content %}

<div class="row">

    <div class="col-md-10 col-md-offset-1">

        <div class="card">
            <div class="card-header">
                <h1>Categorias</h1>
            </div>
            <div class="card-body">
                {{ include('admin/ic_categoria/_form.html.twig', {'button_label': 'Actualizar'}) }}
                {{ include('admin/ic_categoria/_delete_form.html.twig') }}

            </div>
            <div class="card-footer">
                <a href="{{ path('procesos_categoria') }}">Regresar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
