

<form method="post" action="{{ path('procesos_perfil_borrar', {'idPerfil': ic_fos_perfil.idPerfil}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ic_fos_perfil.idPerfil) }}">
    <button class="btn btn-danger btn-md">Eliminar</button>
</form>
