{% extends 'base.html.twig' %}

{% block title %}Direccion {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>Perfil de Usuario</h1>
            <div class="card">
                <div class="card-header">
                    <h1>Nuevo Perfil</h1>
                </div>
                <div class="card-body">
                    {{ include('ic_fos_perfil/_form.html.twig') }}
                </div>
                <div class="card-footer">
                    <a href="{{ path('procesos_perfil') }}">Regresar</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
